In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [3]:
#Get the data types

city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Kapaa,US,2022-07-26 01:32:46,22.0752,-159.3190,84.18,69,40,14.97
1,1,Barrow,US,2022-07-26 01:32:46,71.2906,-156.7887,37.42,87,100,26.46
2,2,Luganville,VU,2022-07-26 01:32:46,-15.5333,167.1667,82.42,75,31,6.76
3,3,Khatanga,RU,2022-07-26 01:32:41,71.9667,102.5000,75.36,37,2,6.13
4,4,Bafra,TR,2022-07-26 01:32:47,41.5678,35.9069,67.82,72,11,5.50

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [8]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [14]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
# Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [30]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [31]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Kapaa,US,2022-07-26 01:32:46,22.0752,-159.3190,84.18,69,40,14.97
2,2,Luganville,VU,2022-07-26 01:32:46,-15.5333,167.1667,82.42,75,31,6.76
3,3,Khatanga,RU,2022-07-26 01:32:41,71.9667,102.5000,75.36,37,2,6.13
8,8,Hilo,US,2022-07-26 01:32:47,19.7297,-155.0900,88.29,93,75,8.05
18,18,Lorengau,PG,2022-07-26 01:32:49,-2.0226,147.2712,82.85,76,92,8.03
19,19,Hoi An,VN,2022-07-26 01:30:24,15.8794,108.3350,85.96,60,8,3.18
20,20,Devils Lake,US,2022-07-26 01:32:50,48.1128,-98.8651,76.98,65,0,8.05
33,33,Wad Rawah,SD,2022-07-26 01:32:52,15.1603,33.1397,82.20,54,100,9.06
35,35,Vaini,TO,2022-07-26 01:32:53,-21.2000,-175.2000,78.96,83,20,9.22
38,38,Yerbogachen,RU,2022-07-26 01:32:53,61.2767,108.0108,78.60,64,33,11.45

In [32]:
preferred_cities_df.count()

City_ID       184
City          184
Country       184
Date          184
Lat           184
Lng           184
Max Temp      184
Humidity      184
Cloudiness    184
Wind Speed    184
dtype: int64

In [33]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [34]:
preferred_cities_df.notnull().sum()

City_ID       184
City          184
Country       184
Date          184
Lat           184
Lng           184
Max Temp      184
Humidity      184
Cloudiness    184
Wind Speed    184
dtype: int64

In [35]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

           City Country  Max Temp      Lat       Lng Hotel Name
0         Kapaa      US     84.18  22.0752 -159.3190
2    Luganville      VU     82.42 -15.5333  167.1667
3      Khatanga      RU     75.36  71.9667  102.5000
8          Hilo      US     88.29  19.7297 -155.0900
18     Lorengau      PG     82.85  -2.0226  147.2712
19       Hoi An      VN     85.96  15.8794  108.3350
20  Devils Lake      US     76.98  48.1128  -98.8651
33    Wad Rawah      SD     82.20  15.1603   33.1397
35        Vaini      TO     78.96 -21.2000 -175.2000
38  Yerbogachen      RU     78.60  61.2767  108.0108

In [58]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key
}

In [59]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():

# Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

# Add the latitude and longitude to location key for the params dictionary.

    params["location"] = f"{lat},{lng}"

# Use the search term: "lodging" and our latitude and longitude.

    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
# Make request and get the JSON data from the search.

    hotels = requests.get(base_url, params=params).json()
    
# Grab the first hotel from the results and store the name.

    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    
    except (IndexError):
        print("Hotel not found... skipping")

hotel_df.head(10)

Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Kapaa,US,84.18,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
2,Luganville,VU,82.42,-15.5333,167.1667,The Espiritu Hotel
3,Khatanga,RU,75.36,71.9667,102.5000,"""Khatanga"""
8,Hilo,US,88.29,19.7297,-155.0900,Hilo Hawaiian Hotel
18,Lorengau,PG,82.85,-2.0226,147.2712,Lorengau Harbourside Hotel
19,Hoi An,VN,85.96,15.8794,108.3350,Belle Maison Hadana Hoi An managed by H&K Hosp...
20,Devils Lake,US,76.98,48.1128,-98.8651,"Holiday Inn Express Devils Lake, an IHG Hotel"
33,Wad Rawah,SD,82.20,15.1603,33.1397,حوش جلي ودراوة
35,Vaini,TO,78.96,-21.2000,-175.2000,Keleti Beach Resort
38,Yerbogachen,RU,78.60,61.2767,108.0108,